//
// landing page
//------------------------------------------------------------------------
@charset "utf-8";
body,
td,
th,
input,
textarea {
  font-family: $font-web;
}
img {
  width: 100%;
}
.container {
  min-width: 1280px;
}
.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.show_sp {
  display: none;
}
.flex {
  display: flex;
}
.btn {
  a {
    display: block;
    width: 315px;
    height: 68px;
    line-height: 68px;
    border: 1px solid #000;
    font-size: rem(23);
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    transition: .3s;
    &:hover {
      color: #fff;
      &:before {
        left: -10%;
        width: 120%;
      }
    }
    &:before {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      bottom: 0;
      background: #000;
      height: 120%;
      left: -10%;
      transform: skewX(15deg);
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
       top: 50%;
       transform: translateY(-50%);

    }
  }
  .formbtn {
    &:after {
      background: url('../images/calender_icon.png')no-repeat;
      width: 17px;
      height: 17px;
      background-size: contain;
      left: 62px;
    }
    &:hover {
      &:after {
        background: url('../images/calender_icon_hv.png')no-repeat;
        background-size: contain;
      }
    }
  }
  .accessbtn {
    &:after {
      background: url('../images/access_icon.png')no-repeat;
      width: 15px;
      height: 20px;
      background-size: contain;
      left: 55px;
    }
    &:hover {
      &:after {
        background: url('../images/access_icon_hv.png')no-repeat;
        background-size: contain;
      }
    }
  }
}
header {
  display: none !important;
  &.fixed-header {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9;
    padding: 30px 20px 30px 25px;
    justify-content: space-between;
    width: 100%;
    transition: all 0.3s ease;
  }
}


// @keyframes fade
// {
//   0%   {opacity:1}
//   33.333% { opacity: 0}
//   66.666% { opacity: 0}
//   100% { opacity: 1}
// }
// @keyframes fade2
// {
//   0%   {opacity:0}
//   33.333% { opacity: 1}
//   66.666% { opacity: 0 }
//   100% { opacity: 0}
// }
// @keyframes fade3
// {
//   0%   {opacity:0}
//   33.333% { opacity: 0}
//   66.666% { opacity: 1}
//   100% { opacity: 0}
// }
.mv {
  width: 100%;
  height: 100vh;
  position: relative;
  .logo_01 {
    width: 300px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 50px;
    &.hidelogo {
      display: none;
    }
  }
  ul {
    position: relative;
    height: 100%;
    li {
      position: absolute;
      width: 100%;
      // height: 100%;
       animation:fade 6s infinite;
      &:nth-of-type(2) {
        animation:fade2 6s infinite;
      }
      &:nth-of-type(3) {
        animation:fade3 6s infinite;
      }
      figure {
        img {
          display: block;
          height: auto;
        }
      }
    }
  }
}
