.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.show_pc {
  display: none;
}
img {
  width: 100%;
}
a {
    color: #0B3863;
    text-decoration: none;
}
// .spec {
//   background: #fff;
//   position: absolute;
//   padding: 27px 29px 10px;
//   top: -80px;
//   left: 0px;
//   figure {
//     width: 43px;
//   }
// }
p {
  font-size: rem2(26);
  line-height: rem2(52);
}
.btn {
  a {
    display: block;
    width: vw(706);
    margin: 0 auto;
    height: vw(101);
    line-height: vw(101);
    border: vw(2) solid #000;
    font-size: rem2(28);
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    transition: all 0.5s;
    &:hover {
      color: #fff;
      &:before {
        left: -10%;
        width: 90%;
      }
    }
    &:before {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      bottom: 0;
      background: #000;
      height: 90%;
      left: -10%;
      transform: skewX(15deg);
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
       top: 50%;
       transform: translateY(-50%);

    }
  }
  .formbtn {
    &:after {
      background: url('../images/calender_icon.png')no-repeat;
      width: vw(22);
      height: vw(22);
      background-size: contain;
      left: vw(110);
    }
    &:hover {
      &:after {
        background: url('../images/calender_icon_hv.png')no-repeat;
        background-size: contain;
      }
    }
  }
  .accessbtn {
    &:after {
      background: url('../images/access_icon.png')no-repeat;
      width: vw(22);
      height: vw(34);
      background-size: contain;
      left: vw(95);
    }
    &:hover {
      &:after {
        background: url('../images/access_icon_hv.png')no-repeat;
        background-size: contain;
      }
    }
  }
}
header {
  .logo_02 {
    padding: vw(35);
    a {
      width: vw(290);
      font-size: 0;
      display: block;
      transition: .3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .btn {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    padding: vw(55) 0;
    a {
      border: vw(2) solid #fff;
      margin: vw(40) auto;
      color: #fff;
    }
    .formbtn {
      &:after {
        background: url('../images/calender_icon_hv.png')no-repeat;
        background-size: contain;
      }
    }
    .accessbtn {
      &:after {
        background: url('../images/access_icon_hv.png')no-repeat;
        background-size: contain;
      }
    }
  }
}
.menuIcon {
  position: absolute;
  z-index: 5;
  right: vw(30);
  top: vw(38);
  .menu_trigger {
    display: inline-block;
    transition: all 0.4s;
    position: relative;
    width: vw(60);
    height: vw(40);
    &.active {
      span {
        &:nth-of-type(1) {
          transform: translateY(vw(20)) rotate(-315deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(vw(-20)) rotate(315deg);
        }
      }
    }
    span {
      display: inline-block;
      transition: all 0.4s;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #000;
      border-radius: vw(8);
      height: vw(4);
      &:nth-of-type(1) {
        top: 0
      }
      &:nth-of-type(2) {
        top: vw(20);
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
.mv {
  width: 100%;
  height: 100%;
  position: relative;
  // .logo_01 {
  //   width: 300px;
  //   position: absolute;
  //   transform: translateX(-50%);
  //   left: 50%;
  //   top: 50px;
  //   &.hidelogo {
  //     display: none;
  //   }
  //   display: none;
  // }
  ul {
    position: relative;
    height: 100%;
    li {
      position: absolute;
      width: 100%;
       animation:fade 6s infinite;
      &:nth-of-type(2) {
        animation:fade2 6s infinite;
      }
      &:nth-of-type(3) {
        animation:fade3 6s infinite;
      }
      figure {
        img {
          display: block;
          height: auto;
        }
      }
    }
  }
}
// .intro {
//   position: relative;
//   padding: 30px 20px 139px;
//   &:after {
//     content: "";
//     display: block;
//     clear: both;
//   }
//   &_txt {
//     padding: 0 0 0 30px;
//     float: right;
//     width: calc(100% - 40px);
//     p {
//       text-align: justify;
//     }
//   }
//   h2 {
//     float: left;
//     width: 40px;
//     margin-top: 45px;
//   }
//   .btn {
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     a {
//       &:nth-of-type(1) {
//         margin-bottom: 20px;
//         display: block;
//       }
//     }
//   }
// }
// .hotspring {
//   padding: 100px 0 0;
//   &_txt {
//     position: relative;
//     margin-top: -6px;
//     .pool {
//       width: 100%;
//       height: 351px;
//     }
//     .txt_l {
//       background: #fff;
//       position: absolute;
//       padding: 20px;
//       bottom: -352px;
//     }
//     .small_room {
//       display: flex;
//       margin: 20px -8px 0;
//       figure {
//         width: 50%;
//         margin: 0 8px;
//       }
//     }
//   }
// }
// h3 {
//   text-align: center;
//   font-size: 18px;
//   line-height: 24px;
//   font-weight: normal;
//   margin-bottom: 17px;
//   font-weight: bold;
// }
// .facility {
//   padding: 400px 0 0;
//   &_bg {
//     background: url('../images/facility_bg.png') no-repeat;
//     width: 100%;
//     padding: 31px 0;
//     background-position: center;
//     background-size: cover;
//     p {
//       text-align: center;
//     }
//   }
//   article {
//     h4 {
//       text-align: center;
//       margin-bottom: 20px;
//       span {
//         font-size: 16px;
//         line-height: 22px;
//         color: #605a3e;
//         margin-bottom: 25px;
//         border-bottom: 1px solid #605a3e;
//         padding-bottom: 10px;
//         text-align: center;
//         margin: 0 auto;
//         display: block;
//       }
//     }
//     .living_txt {
//       padding: 20px 20px;
//       h4 {
//         span {
//           width: 140px;
//         }
//       }
//     }
//     .japaneseroom_txt {
//       padding: 20px 20px;
//       h4 {
//         span {
//           width: 60px;
//         }
//       }
//     }
//   }
// }
// .list_room {
//   background: #f0f0f0;
//   padding: 40px 0;
//   ul {
//     li {
//       width: percentage(570 / 640);
//       margin: 0 auto 25px;
//       .txt_cv {
//         background: #fff;
//         margin-top: -5px;
//         padding: 10px 20px;
//         h5 {
//           font-size: 14px;
//           line-height: 18px;
//         }
//         p {
//           margin-top: 5px;
//         }
//       }
//     }
//   }
// }
//
// .cm_block {
//   .row {
//     position: relative;
//   }
//   .explain {
//     margin-top: 17px;
//     p {
//       padding-left: 108px;
//       padding-right: 20px;
//     }
//   }
//   .txt_wrap {
//     h4 {
//       font-size: 16px;
//       line-height: 22px;
//       text-align: center;
//       margin-bottom: 20px;
//     }
//   }
//   .btn {
//     a {
//       margin: 40px auto;
//     }
//   }
// }
// .sleeproom {
//   ul {
//     display: flex;
//     li {
//       width: calc(100 / 3);
//     }
//   }
//   .view {
//     margin-top: -6px;
//   }
//   .txt_wrap {
//     padding: 30px 20px;
//   }
// }
// .eat {
//   .img_main {
//     display: flex;
//     figure {
//       width: 50%;
//     }
//   }
//   &_service {
//     padding: 0 20px;
//     margin-bottom: 30px;
//     h4 {
//       font-size: 16px;
//       line-height: 22px;
//       position: relative;
//       padding-left: 17px;
//       margin-bottom: 15px;
//       &:after {
//         content: "";
//         background: #000;
//         width: 10px;
//         height: 10px;
//         border-radius: 50%;
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         left: 0;
//       }
//     }
//     .flex {
//       display: flex;
//       border: 1px solid #000;
//       ul {
//         padding: 20px 0;
//         width: 50%;
//         &:nth-of-type(1) {
//           border-right: 1px solid #000;
//
//         }
//         li {
//           padding: 0 10px;
//           font-size: 13px;
//           line-height: 18px;
//           &:not(:last-child) {
//             margin-bottom: 12px;
//           }
//         }
//       }
//     }
//   }
//   &_menu {
//     ul {
//       position: relative;
//       li {
//         position: absolute;
//         width: 45%;
//         height: 150px;
//         &:first-child {
//           background: url('../images/menu_img_01.jpg') no-repeat;
//           background-size: cover;
//           top: 0;
//           left: 0;
//         }
//         &:nth-of-type(2){
//           background: url('../images/menu_img_02.jpg') no-repeat;
//           background-size: cover;
//           top: 150px;
//           left: 0;
//         }
//         &:nth-of-type(3){
//           background: url('../images/menu_img_03.jpg') no-repeat;
//           background-size: cover;
//           top: 300px;
//           left: 0;
//         }
//         &:last-child {
//           background: #000;
//           padding-top: 20px;
//           width: 55%;
//           right: 0;
//           top: 0;
//           height: 450px;
//           overflow-y: auto;
//           figure {
//             width: 98px;
//             margin: 0 auto;
//           }
//           .bbq_txt {
//             padding: 15px 20px;
//             p {
//               font-size: 12px;
//               margin-bottom: 10px;
//               color: #fff;
//               &:nth-of-type(1) {
//                 font-size: 15px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
// .access {
//   margin-top: 480px;
//   padding: 50px 0 0;
//   p {
//     text-align: center;
//     margin: 20px 0 25px;
//   }
//   figure {
//     width: percentage(510 / 640);
//     margin: 0 auto 30px;
//   }
//   .map {
//     width: 100%;
//   }
// }
